<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
<Properties>
    <Property name="logPath">.</Property>
</Properties>

<Appenders>
    <RollingFile name="fileLogger" filePattern="${logPath}/pvetracker-%d{yyyy-MM-dd}.log">
        <PatternLayout>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
        </Policies>
        <DirectWriteRolloverStrategy maxFiles="30"/>
    </RollingFile>
</Appenders>

<Loggers>
    <Root level="info" additivity="false">
        <appender-ref ref="fileLogger" />
    </Root>
</Loggers>
</Configuration>

