/*
  Colors:
  Navy Blue:   #18121e
  Gunmetal:    #233237
  Rusty Red:   #984843
  Warm Yellow: #eac67a
  Gray:        #171717
*/
body {
	background-color: #12191c;
	color: #eee;
	margin: 0px;
	font-family: 'Varela Round', sans-serif;
}

a:after, a:before {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

a {
	color: #eee;
}

/* visited link */
a:visited {
	color: #e5e5e5;
}

/* mouse over link */
a:hover {
	color: #eac67a;
}

/* selected link */
a:active {
	color: #984843;
}

.center {
	text-align: center;
}

.error {
	color: #984843
}

.errorSpacing {
	margin-top: 2em;
}

.material-icons {
	vertical-align: middle;
}

/*
 * Topmenu
 */
#topmenu {
	background-color: #eee;
	color: #18121e;
	padding: 5px 5px 5px 15px;
	position: relative;
}

#topmenu a {
	color: #233237;
	text-decoration: none;
	font-size: 24px;
	transition: all .3s;
}

#topmenu a:hover {
	color: #eac67a;
	text-decoration: none;
}

#nameTag {
	position: relative;
	font-size: 18px;
	right: 10px;
	color: #984843;
}

span.menu {
	position: relative;
	top: 6px;
	left: 10px;
}

.menu-entry:before, .menu-entry:after {
	position: relative;
	top: 3px;
	font-size: 36px;
	color: transparent;
}

.menu-entry:hover:before, .menu-entry:hover:after {
	color: #eac67a;
}

.menu-entry:before {
	content: "[";
	left: -8px;
}

.menu-entry:hover:before {
	left: 0px;
}

.menu-entry:after {
	content: "]";
	right: -8px;
}

.menu-entry:hover:after {
	right: 0px;
}

#topmenu .title a {
	font-size: 36px;
}

#loginout {
	right: 15px;
	position: absolute;
}

/*
 * Content
 */
#content {
	padding: 10px;
	position: relative;
	background-color: #233237;
	border: 1px inset #243723;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.highlight {
	font-weight: bold;
	color: #eac67a;
}

.key {
	font-weight: bold;
	text-align: right;
	color: #eac67a;
}

td.head {
	font-weight: bold;
	text-align: center;
	color: #eac67a;
}

td img {
	vertical-align: middle;
}

.green {
	color: #105610;
}

.orange {
	color: orange;
}

.red {
	color: red;
}

.yellow {
	color: #eac67a;
}

.lightblue {
    color: #0ff;
}

.sec-0 {
	color: #bf0101;
}

.sec-low {
	color: #ac6001;
}

.sec-05 {
	color: #bfbf01;
}

.sec-06 {
	color: #73bf27;
}

.sec-07 {
	color: #01bf01;
}

.sec-08 {
	color: #01bf3a;
}

.sec-09 {
	color: #3ac09a;
}

.sec-1 {
	color: #27bfbf;
}

.center {
	text-align: center;
}

.compact td.left {
    text-align: left;
}

.compact td.right {
    text-align: right;
}

table.compact {
	border-collapse: collapse;
}

.compact th {
	padding: 5px 16px;
}

.compact td {
	padding: 0px 6px;
	font-size: 14px;
}

.compact th, .compact td {
	border-bottom: solid 1px #1a2428;
	text-align: center;
}

.delete {
	position: absolute;
	right: 5px;
    top: 5px;
}

.money {
	color: #984843;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 8px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	font-size: smaller;
	white-space: nowrap;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

#stats {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 3px;
	border-radius: 5px;
	border: 1px inset #374936;
	background-color: #2c3f44;
}

#stats ul {
	margin: 2px;
	padding: 0px;
	font-size: 13px;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#stats li {
	list-style-type: none;
	padding-left: 5px;
	cursor: pointer;
}

#footer {
	position: static;
	bottom: 5px;
	width: 100%;
	text-align: center;
	font-size: small;
	margin-top: 10px;
}