<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>Sites overview</title>
</head>
<body>
	<div id="content" layout:fragment="content">
		<h1 class="center error errorSpacing">Looks like the page you expected cloaked up!</h1>
		<h2 th:text="${errorMessage}" class="center error errorSpacing">Error Message</h2>
	</div>
</body>
</html>
