<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>Main page</title>
</head>
<body>
	<div id="content" layout:fragment="content">
		<h2>You have to log in at the top right with your Eve Online account to start working with PvE today!</h2>
		
		The application needs the following rights to work properly:
		<ul>
			<li><span class="highlight">read_location</span> to get your current location so you don't have to type it yourself</li>
			<li><span class="highlight">read_ship_type</span> to get your current ship name and type</li>
			<li><span class="highlight">read_character_wallet</span> to get your mission reward and pirate bounty</li>
		</ul>
	</div>
</body>
</html>
