<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">PvE Tracker</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{https://fonts.googleapis.com/css?family=Dosis:500}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<link th:href="@{/css/autocomplete.css}" rel="stylesheet">
	<script th:src="@{/js/autocomplete.min.js}"></script>
</head>
<body>
	<div id="topmenu">
		<span class="title"><a th:href="@{/}">PvE today</a></span>
		<span class="menu">
			<a th:href="@{/site}" class="menu-entry">Sites Overview</a>
			<a th:href="@{/stat}" class="menu-entry">Statistics</a>
		</span>
		<span id="loginout">
			<a th:href="@{/login}" href="/login" sec:authorize="!isAuthenticated()">
				<img th:src="@{/images/evessobutton.png}" src="/images/evessobutton.png" />
			</a>
			<span id="nameTag" sec:authorize="isAuthenticated()" sec:authentication="principal.characterName">Name</span>
			<a th:href="@{/logout}" href="/logout" sec:authorize="isAuthenticated()">
				<i class="material-icons" style="font-size: 42px">exit_to_app</i>
			</a>
		</span>
	</div>
	<div id="content" layout:fragment="content">
	</div>
	<div id="footer">
	This application has been created under the EVE Developer License Agreement.
	</div>
</body>
</html>
