<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>Sites overview</title>
</head>
<body>
	<div id="content" layout:fragment="content">
		<h3 th:if="${startModelBean.error}" class="error" th:text="${startModelBean.errorMessage}">Error Message</h3>
		<h2>Start a new site</h2>
		<form action="#" th:action="@{/site}" th:object="${startModelBean}" method="post">
			Site name: <input data-autocomplete="/site/search" th:field="*{name}" /> 
			<input type="submit" value="Start" />
		</form>
		<h2>Finished sites</h2>
		<table class="compact">
			<tr>
				<th class="head">Site</th>
				<th class="head">Start</th>
				<th class="head">Duration</th>
				<th class="head">State</th>
				<th class="head">View</th>
				<th class="head">Edit</th>
			</tr>
			<tr th:each="outcome : ${outcomes}">
				<td th:text="${outcome.site} ? ${outcome.site.name} : ${outcome.siteName}">site</td>
				<td th:text="${#temporals.format(outcome.start, 'yyyy-MM-dd HH:mm')}">start</td>
				<td th:text="${outcome.duration}">duration</td>
				<td><i th:if="${outcome.end} == null" class="material-icons orange">play_circle_filled</i>
				<i th:if="${outcome.end} != null" class="material-icons green">check_circle</i></td>
				<td><a th:href="@{/site/__${outcome.id}__}"><i class="material-icons">arrow_forward</i></a></td>
				<td><a th:href="@{/site/__${outcome.id}__/edit}"><i class="material-icons">mode_edit</i></a></td>
			</tr>
		</table>
		<div id="stats">
			Quick select
			<ul>
				<li th:each="stat : ${stats}" th:text="${stat.name + ' (' + stat.count + ')'}" th:onClick="${'quick(&quot;' + stat.name + '&quot;);'}">
			</ul>
		</div>
		<script type="text/javascript">
 			AutoComplete({EmptyMessage: "No site found", MinChars: 2, });

			function quick(name) {
				document.getElementById("name").value = name;
			}
		</script>
	</div>
</body>
</html>
