<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>Sites overview</title>
</head>
<body>
	<div id="content" layout:fragment="content">
		<form action="#" th:action="@{/site/__${outcome.id}__}" th:object="${outcome}" method="post">
		<table>
			<tr>
				<td colspan="2" class="key">Site:</td>
				<td colspan="2"><span th:text="${outcome.site} ? ${outcome.site.name} : ${outcome.siteName}">name</span></td>
			</tr>
			<tr>
				<td class="key">Ship:</td>
				<td>
					<img th:src="@{https://image.eveonline.com/Type/__${outcome.ship.typeId}___32.png}" src="img" th:alt="${outcome.ship.type}" th:title="${outcome.ship.type}"/>
					[[${outcome.ship.name}]]
				</td>
				<td class="key">System:</td>
				<td><span th:text="${outcome.system.name}">system</span> <span th:text="${#numbers.formatDecimal(outcome.system.security, 1, 1)}" th:class="${outcome.system.secClass}">sec</span></td>
			</tr>
			<tr>
				<td class="key">Start:</td>
				<td th:text="${#temporals.format(outcome.start, 'yyyy-MM-dd HH:mm')}">start</td>
				<td class="key">End:</td>
				<td th:text="${#temporals.format(outcome.end, 'yyyy-MM-dd HH:mm')}">end</td>
			</tr>
			<tr>
				<td class="key">Bounty:</td>
				<td><input type="number" min="0" th:field="*{bountyValue}" /> ISK</td>
				<td class="key">Reward:</td>
				<td><input type="number" min="0" th:field="*{rewardValue}" /> ISK</td>
			</tr>
			<tr>
				<td class="key">Faction:</td>
				<td><input type="checkbox" th:field="*{faction}" /></td>
				<td class="key">Escalation:</td>
				<td><input type="checkbox" th:field="*{escalation}" /></td>
			</tr>
			<tr>
				<td class="key">Loot:</td>
				<td colspan="3"><textarea rows="5" cols="40" th:field="*{lootContent}"></textarea></td>
			</tr>
			<tr>
				<td class="center" colspan="4"><input type="submit" th:value="${outcome.end} ? 'Save' : 'Finish'" value="submit"/></td>
			</tr>
		</table>
		</form>
	</div>
</body>
</html>
