<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>Sites overview</title>
</head>
<body>
	<div id="content" layout:fragment="content">
		<table>
			<tr>
				<td colspan="2" class="key">Site:</td>
				<td colspan="2"><span th:text="${outcome.site} ? ${outcome.site.name} : ${outcome.siteName}">name</span></td>
			</tr>
			<tr>
				<td class="key">Ship:</td>
				<td>
					<img th:src="@{https://image.eveonline.com/Type/__${outcome.ship.typeId}___32.png}" src="img" th:alt="${outcome.ship.type}" th:title="${outcome.ship.type}"/>
					[[${outcome.ship.name}]]
				</td>
				<td class="key">System:</td>
				<td><span th:text="${outcome.system.name}">system</span> <span th:text="${#numbers.formatDecimal(outcome.system.security, 1, 1)}" th:class="${outcome.system.secClass}">sec</span></td>
			</tr>
			<tr>
				<td class="key">Start:</td>
				<td th:text="${#temporals.format(outcome.startTime, 'yyyy-MM-dd HH:mm')}">start</td>
				<td class="key">Duration:</td>
				<td th:text="${outcome.duration}">duration</td>
			</tr>
			<tr>
				<td class="key">Bounty:</td>
				<td><span th:text="${#numbers.formatDecimal(outcome.bountyValue, 1, 'POINT', 0, 'COMMA')}">bounty</span> ISK</td>
				<td class="key">Reward:</td>
				<td><span th:text="${#numbers.formatDecimal(outcome.rewardValue, 1, 'POINT', 0, 'COMMA')}">reward</span> ISK</td>
			</tr>
			<tr>
				<td class="key">Loot:</td>
				<td><span th:text="${#numbers.formatDecimal(outcome.lootValue, 1, 'POINT', 0, 'COMMA')}">loot</span> ISK</td>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td class="key">Faction:</td>
				<td><i class="material-icons green" th:if="${outcome.faction == true}">check</i><i class="material-icons red" th:if="${outcome.faction != true}">clear</i></td>
				<td class="key">Escalation:</td>
				<td><i class="material-icons green" th:if="${outcome.escalation == true}">check</i><i class="material-icons red" th:if="${outcome.escalation != true}">clear</i></td>
			</tr>
			<tr>
				<td colspan="4">
					Loot:
					<ul>
						<li th:each="loot : ${outcome.loot}">
							<span th:text="${loot.count}">1</span> x <img th:src="@{https://image.eveonline.com/Type/__${loot.typeId}___32.png}" src="img" th:alt="${loot.name}" th:title="${loot.name}"/>
							<span th:text="${loot.name}">Name</span> <span th:text="${loot.valueString}" class="money">123</span>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
