<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>Statistics</title>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js}"></script>
</head>
<body>
	<div id="content" layout:fragment="content">
		<table class="compact" style="float: left; left: 100px; position: absolute;">
			<tr>
				<th colspan="3" class="center">Overall earnings last 30 days</th>
			</tr>
			<tr>
				<th class="head">Bounty</th>
				<td><span th:text="${#numbers.formatDecimal(values.bounty, 1, 'POINT', 0, 'COMMA')}">bounty</span> ISK</td>
			</tr>
			<tr>
				<th class="head">Reward</th>
				<td><span th:text="${#numbers.formatDecimal(values.reward, 1, 'POINT', 0, 'COMMA')}">reward</span> ISK</td>
			</tr>
			<tr>
				<th class="head">Loot</th>
				<td><span th:text="${#numbers.formatDecimal(values.loot, 1, 'POINT', 0, 'COMMA')}">loot</span> ISK</td>
			</tr>
			<tr>
				<th class="head">Sum</th>
				<td class="yellow"><span th:text="${#numbers.formatDecimal(values.bounty + values.reward + values.loot, 1, 'POINT', 0, 'COMMA')}">sum</span> ISK</td>
			</tr>
			<tr>
				<th class="head">PLEX</th>
				<td><span th:text="${#numbers.formatDecimal((values.bounty + values.reward + values.loot) / plex, 1, 'POINT', 0, 'COMMA')}">plex</span></td>
			</tr>
		</table>

		<table class="compact" style="left: 380px; position: relative;">
			<tr>
				<th colspan="3" class="center">Last 10 site values</th>
			</tr>
			<tr>
				<th class="head">Site</th>
				<th class="head">Value</th>
				<th class="head">Date</th>
			</tr>
			<tr th:each="outcome : ${lastValueSites}">
				<td th:text="${outcome.site} ? ${outcome.site.name} : ${outcome.siteName}">site</td>
				<td><span th:text="${#numbers.formatDecimal(outcome.bountyValue + outcome.lootValue + outcome.rewardValue, 1, 'POINT', 0, 'COMMA')}">bounty</span> ISK</td>
				<td th:text="${#temporals.format(outcome.start, 'yyyy-MM-dd HH:mm')}">start</td>
			</tr>
		</table>

		<canvas id="monthly"></canvas>

		<script type="text/javascript" th:inline="javascript">
			Chart.defaults.global.title.display = true;
			Chart.defaults.global.title.fontColor = 'rgb(240,240,240)';
			Chart.defaults.global.legend.display = false;
			Chart.scaleService.updateScaleDefaults('linear', {
				gridLines: {
					color: 'rgb(120,120,120)'
				},
				scaleLabel: {
					display: true,
					fontColor: 'rgb(240,240,240)'
				},
				ticks: {
					fontColor: 'rgb(200,200,200)'
				}
			});

			var ctx = document.getElementById("monthly");

			var monthlyData = {
		        labels: /*[[${montly.labels}]]*/,
		        datasets: [{
		            label: "Earnings",
		            backgroundColor: 'rgb(234, 198, 122)',
		            borderColor: 'rgb(255, 255, 255)',
		            data: /*[[${montly.data}]]*/,
		        }]
		    };
			var monthlyOptions = {
				title: {
					text: "Daily earnings last 30 days"
				},
				scales: {
					yAxes: [{
						scaleLabel: {
							labelString: 'Million ISK'
						}
					}],
					xAxes: [{
						gridLines: {
							color: 'rgb(120,120,120)'
						},
						ticks: {
							fontColor: 'rgb(200,200,200)'
						}
					}]
				}
			};

			var monthlyChart = new Chart(ctx, {
				type: 'bar',
				data: monthlyData,
				options: monthlyOptions
			});
		</script>
	</div>
</body>
</html>
